{% extends 'core/base.html' %}
{% load static %}

{% block head %}
    <title>Auth</title>
    <script src="jquery-3.6.1.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
{% endblock %}

{% block header %}
    <h1>Authentication</h1>
{% endblock %}

{% block content %}
    <div><a href="{% url 'reg_page' %}">Still haven`t an account...</a></div>
    <div>
        <div>
            <p id="errors"></p>
        </div>
        <div>
            <span>Email: </span>
            <span><input id="email" type="text" name="email"></span>
        </div>
        <div>
            <span>Password: </span>
            <span><input type="password" id="password" name="password"></span>
        </div>
        <button onclick="auth_by_token()">Auth</button>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascript %}
    <script src="{% static 'users/js/auth_by_token.js' %}"></script>
{% endblock %}
